body.toplevel_page_bfsb-welcome {
	margin-top: -32px;
	background: #F7F8FA;
	// font-family: "Nunito", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility
}

@media (max-width:782px) {
	body.toplevel_page_bfsb-welcome {
		margin-top: -46px
	}
}

body.toplevel_page_bfsb-welcome #wpwrap {
	top: 0
}

body.toplevel_page_bfsb-welcome #wpbody-content {
	padding: 0;
	min-height: 100vh !important
}

body.toplevel_page_bfsb-welcome #wpbody-content .wrap {
	margin: 0
}

body.toplevel_page_bfsb-welcome #adminmenumain,
body.toplevel_page_bfsb-welcome #wpadminbar,
body.toplevel_page_bfsb-welcome #wpcontent>*,
body.toplevel_page_bfsb-welcome #wpfooter,
body.toplevel_page_bfsb-welcome .error,
body.toplevel_page_bfsb-welcome .notice,
body.toplevel_page_bfsb-welcome .update-nag,
body.toplevel_page_bfsb-welcome .updated,
body.toplevel_page_bfsb-welcome .woocommerce-layout__header,
body.toplevel_page_bfsb-welcome .woocommerce-message,
body.toplevel_page_bfsb-welcome .woocommerce-store-alerts {
	display: none
}

body.toplevel_page_bfsb-welcome .hidden {
	display: none !important
}

body.toplevel_page_bfsb-welcome #wpcontent {
	margin-left: 0 !important;
	padding-left: 0 !important
}

body.toplevel_page_bfsb-welcome #wpcontent>#wpbody {
	display: block;
	margin-top: 0 !important
}